/*****************************************************************************
  final_project
******************************************************************************/


@import '../../bower_components/bourbon/dist/_bourbon.scss';
@import '../../bower_components/neat/app/assets/stylesheets/_neat.scss';





/*****************************************************************************
  Base Styles
******************************************************************************/
body {
	margin-top: 46px;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #2c3e50;
}

section {
	padding: 5px;
}

h1, h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 3em;
}

header {
	background-color: #B6C6CD;
}

section > img {
	padding: 15px;
}

p {
	font-size: 1.6em;
	padding: 20px;
}

.about-text {
	padding: 0;
}

#home {
	display: block;
	width: 100%;
	background: #18bc9c;
	/*background: url('http://p1.pichost.me/i/14/1368941.jpg') no-repeat center center scroll;*/
}

.headline {
	padding: 120px 0;
}

.headline h1 {
	font-size: 5em;
	background: transparent;
	color: #fff;
	text-transform: none;
}

.headline h2 {
	font-size: 3em;
	color: #fff;
	text-transform: none;
}

#about, #contact {
	background: #fff;
}

#work {
	background: #18bc9c;
}


/*****************************************************************************
  Layout Styles
******************************************************************************/




/*****************************************************************************
  Module Styles
******************************************************************************/




