/*****************************************************************************
  final_project
******************************************************************************/


@import '../../bower_components/bourbon/dist/_bourbon.scss';
@import '../../bower_components/neat/app/assets/stylesheets/_neat.scss';





/*****************************************************************************
  Base Styles
******************************************************************************/
body {
	padding-top: 46px;
}

section {
	padding: 5px;
}

h1, h2 {
	text-align: center;
	text-decoration: underline;
}

header {
	background-color: #B6C6CD;
}

section > img {
	padding: 15px;
}

.about {
	background-color: #94BED0;
}

.work {
	background-color: #B6C6CD;
}

.contact {
	background-color: #94BED0;
}



/*****************************************************************************
  Layout Styles
******************************************************************************/




/*****************************************************************************
  Module Styles
******************************************************************************/




